# Obsidian
docs/.obsidian/cache/       # Ignore le cache d'Obsidian
docs/.obsidian/workspace    # Ignore les paramètres de l'espace de travail
docs/.obsidian/config       # Ignore les fichiers de configuration utilisateur
*.md~                  # Ignore les fichiers temporaires de sauvegarde Markdown
*.bak                  # Ignore les fichiers de sauvegarde
*.swp                  # Ignore les fichiers swap (souvent créés par les éditeurs de texte comme Vim)
docs/.DS_Store              # Ignore les fichiers spécifiques à macOS
docs/Thumbs.db              # Ignore les fichiers spécifiques à Windows
docs/.trash
docs/.space

.vscode/